.about .about-content {
  height: 60vh;
}

.about .about-content .card {
  width: calc(33% - 20px);
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.about .about-content .card:hover {
  transform: scale(1.05);
}

.about .about-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 30px 0 7px 0;
}

.about .about-content .card p {
  margin-top: 30px;
  font-size: 13px;
}