.home {
  display: flex;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
  margin: auto 0 auto 40px;
}

.home .header-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.home .home-content {
  position: relative;
  bottom: -200px;
}

.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
  margin-bottom: 30px;
}